<div class="large-8 small-9 columns">
  {{input type="text" placeholder=placeholder value=value action="submit" }}

  {{#if showDropdown }}
    <div class="results">
      {{#each record in filteredResults }}

        <div class="result">
          {{#if template}
            {{yield record}}
          {{else}}
            {{record}}
          {{/if}}
        </div>

      {{/each}}
    </div>
  {{/if}}
</div>

<div class="large-4 small-3 columns">
  <a class="button expand" {{action 'submit'}}>Search</a>
</div>

